body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.search-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.dropdown-container {
    width: 48%;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    background-color: #606929;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8); 
}

button {
    background: #606929;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}

button:hover {
    background: #3b4a1d;
}

#car-model-data {
    margin-top: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    margin-left: auto;  
    margin-right: auto; 
    width: auto;
    max-width: fit-content;
}

#search-again {
    margin-top: 10px;
    display: none;
}

@media (max-width: 768px) {
    .dropdown-container {
        width: max-content;
    }
}

#reset-all {
    background: #606929;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    
}

#reset-all:hover {
    background-color: #606929;
}
